# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/monetizely_quote_builder?retryWrites=true&w=majority

# Please create a file .env.local and add its ***IMPORTANT***
# MONGODB_URI = please add your mongo altas url and add you username & password to connect to mongo server
